<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.breel.wearables.shadowclock">

    <uses-feature android:name="android.hardware.type.watch"/>

    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/preview">

        <service
            android:name="com.breel.wearables.shadowclock.BReelWatchFaceService"
            android:label="@string/watchface_name"
            android:allowEmbedded="true"
            android:taskAffinity=""
            android:permission="android.permission.BIND_WALLPAPER" >
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.clockwork.home.preview"
                android:resource="@drawable/preview" />
            <meta-data
                android:name="com.google.android.wearable.watchface.companionConfigurationAction"
                android:value="com.breel.wearables.breelwearframework.CONFIG_BREEL" />
            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="com.example.android.wearable.watchface.CONFIG_BREEL" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <service android:name=".config.BReelWatchFaceConfigListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <activity
            android:name=".config.BReelFaceWearableConfigActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.example.android.wearable.watchface.CONFIG_BREEL" />

                <category android:name="com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
